<partial name="_Navigation" />
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<style>
    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #000;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<partial name ="_CountDownInUssdPush" />
<div class="container">
    <div class="d-flex justify-content-center align-items-center my-lg-5 my-2 mx-lg-5 mx-3" style="height: 50vh;">
        <span class="loader"></span>
        <div class="tryagain"style="display: none">
            <button class="btn btn-danger btn-sm px-5 py-1" onclick="tryagain()">Try Again</button>
        </div>
    </div>
</div>
<partial name="_Footer" />
<script>
    $(document).ready(function () { 
        var pin = "";
        $.ajax({
            url: '/savepayment',
            type: 'POST',
            contentType: 'application/json',
            cache: false,
            data: JSON.stringify(pin),
            success: function (response) {
                if (!response.isSuccessful) {
                    $('.tryagain').show();
                    $('.loader').hide();
                } else if (response.isSuccessful) {
                    window.location.href = "/paymentsuccessful";
                } else {
                    $('#error-message').text("An unknown error occurred.").show();
                }
            },
            error: function (error) {
                $('#error-message').text("An unknown error occurred.").show();
            }
        });
    });
    function tryagain() {
        $('.loader').show();
        $('.tryagain').hide();

        var pin = "12345";
        $.ajax({
            url: '/savepayment',
            type: 'POST',
            contentType: 'application/json',
            cache: false,
            data: JSON.stringify(pin),
            success: function (response) {
                if (!response.isSuccessful) {
                    $('.tryagain').show(); 
                    $('.loader').hide();
                } else if (response.isSuccessful) {
                    window.location.href = "/paymentsuccessful";
                } 
                else {
                    $('.tryagain').show();
                    $('.loader').hide();
                }
            },
            error: function (error) {
                $('.tryagain').show();
                $('.loader').hide();
            }
        });
    }
</script>