<partial name="_Navigation" />
@{
    if (ViewBag.CoutDown is not null)
    {
        <partial name="_CountDownInOtp" />
    }
}
@* <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
    <div class="d-flex align-items-center">
        <div class="row mt-3">
            <div class="col">
                <form method="post" action="/Otp/VerifyOtp">
                    <div class="input-group">
                        <input type="text" class="form-control" name="otpCode" placeholder="Enter OTP Code" required>
                        <button class="btn btn-dark">Send Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@
<div class="container justify-content-center align-items-center vh-100 d-flex mt-5">
    Enter the code from your phone
    <input type="text" class="form-control" id="passcode" aria-label="Text input with checkbox">
    <button class="btn btn-primary btn-sm payment" >Submit</button>
</div>

<script>
    $(document).ready(function () {
        $('.payment').on('click', function () {
            var data = {
                Pin: $('#passcode').val()
            };

            $.ajax({
                url: '/Spayment/Payment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

<partial name="_Footer" />
