@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<title>Enter Otp</title>
<partial name="_Navigation" />
@{
    if (ViewBag.CoutDown is not null)
    {
        <partial name="_CountDownInOtp" />
    }
}
<div class="container">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-2" role="alert" id="errorAlert">
            <p class="text-center " style="margin: 0;">@TempData["ErrorMessage"]</p>
        </div>
    }

    <script>
        $(document).ready(function () {
            var errorMessage = '@(TempData["ErrorMessage"])';
            if (errorMessage) {
                $('#errorAlert').show();
                setTimeout(function () {
                    $('#errorAlert').hide();
                }, 3000);
                '@{TempData["ErrorMessage"] = null;}';
            }
        });
    </script>
</div>
<div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
    <div class="d-flex align-items-center m-2" style="flex-direction: column;  border: 1px solid #ddd; padding: 15px 30px; background-Color:#f9f9f9 ">
        <div class="row">
            <div class="col">
                <p>Please Enter The Otp Sent To Your Phone</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" id="passcode" aria-label="Text input with checkbox" placeholder="Enter OTP Code" required>
                        <button class="btn btn-primary btn-sm payment">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.payment').on('click', function () {
            var data = {
                Pin: $('#passcode').val()
            };

            $.ajax({
                url: '/Spayment/Payment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                    window.location.href = '/BookingPost/Index'
                },
                error: function () {
                    window.location.href = '/Spayment'
                }
            });
        });
    });
</script>

<partial name="_Footer" />
