<partial name="_Navigation" />



<div class="container justify-content-center align-items-center vh-100 d-flex mt-5">
    Enter the code from your phone
    <input type="text" class="form-control" id="passcode" aria-label="Text input with checkbox">
    <button class="btn btn-primary btn-sm payment" >Submit</button>
</div>

<script>
    $(document).ready(function () {
        $('.payment').on('click', function () {
            var data = {
                Pin: $('#passcode').val()
            };

            $.ajax({
                url: '/Spayment/Payment',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

<partial name="_Footer" />
