<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@*     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 *@    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid" style="background-color:#063970;  padding-bottom: 2%;">
        <div class="container " style="padding-top: 2%;">
            <div class="row">
                <div class="col-md-7">
                    <nav class="navbar navbar-light">
                        <div class="container">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color: white;">
                                Hulubeje Booking
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5">
                    <div class="ml-4" style="margin-left:auto">
                        <a class="btn" style="color: white;"><span><i class="bi bi-question"></i></span></a>
                        <a class="btn" style="color: white;">List your property</a>
                        <a class="btn btn-light">Register</a>
                        <a class="btn btn-light">Login</a>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="ml-4" style="margin-left:auto">
                    <a asp-action="Index" asp-controller="HotelHome" type="button" class="btn btn-outline-primary rounded" style="color: white; border-radius: 50%"><span><i class="bi bi-house"></i></span> Hotels</a>
                    <a asp-action="Index" asp-controller="CinemaHome" type="button" class="btn btn-outline-primary rounded" style="color: white;"><span> <i class="bi bi-film"></i></span> Cinema</a>
                    <a asp-controller="BusHome" asp-action="Index" type="button" class="btn btn-outline-primary rounded" style="color: white;"><span><i class="bi bi-bus-front"></i></span> Bus Ticket</a>
                    <a href="#" type="button" class="btn btn-outline-primary rounded" style="color: white;"><span><i class="fa-solid fa-masks-theater"></i></span> Event</a>
                    <a href="#" type="button" class="btn btn-outline-primary rounded" style="color: white;"><span><i class="bi bi-taxi-front"></i></span> Spa</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
