<body class="bg-light">
    <div class="container d-flex vh-100">
        <div class="row justify-content-center mt-5 w-100">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="card-title">Oops! Something Went Wrong</h1>
                        <p class="card-text mb-0">We encountered an error. Our engineers have been notified and are working on a fix. Please try again later.</p>
                        <a href="/" class="btn btn-primary btn-sm mt-3">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>