<partial name="_Navigation" />
<title>CommingSoon</title>
<style>
    .message-container {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    }

    .coming-soon-message {
        font-size: 24px;
        color: #FF5733;
    }
</style>
<div class="container">
    <div class="message-container m-4 rounded-2 " style=" display: flex; align-items: center; justify-content: center; height: 50vh; ">
        <div class="d-flex align-items-center">
            <main>
                <section class="coming-soon-section">
                    <p class="coming-soon-message">Sorry, this feature is currently under development. Stay tuned!</p>
                </section>
            </main>
        </div>
    </div>
</div>
<partial name="_Footer" />