@model HulubejeBooking.Models.HistoryWrapper
@using HulubejeBooking.Models.BusModels;
<partial name="_Navigation" />
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>History</title>
    <style>
        .wide-tab {
            max-width: 300px;
        }
        .customcard{
            height: 160px;
        }

        .companyimage {
            object-fit: contain;
            max-height: 150px; 
            width: 100%;
        }

        .card {
            transition: box-shadow 0.3s;
        }

            .card:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }

        @@media (max-width: 992px) {
            .companyimage {
                object-fit: contain;
                max-height: 100px; /* Set the maximum height as needed */
            }
        }

        @@media (max-width: 300px) {
            .companyimage {
                object-fit: contain;
                max-height: 80px; /* Set the maximum height as needed */
            }

            .customcard {
                height: 165px;
            }
        }

        #myTabs {
            flex-wrap: nowrap;

        }
            .nav-link.active {
                font-weight: bold;
            }

    </style>
</head>
<div class="container vh-50 mt-3 mb-3">
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active wide-tab" id="tab1-tab" data-toggle="tab" href="#tab1">Booking History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link wide-tab" id="tab2-tab" data-toggle="tab" href="#tab2">Transportaion History</a>
        </li>
    </ul>
    <div class="tab-content mt-4 ">
        <div class="tab-pane fade show active" id="tab1">
            <div class="customContainer" id="ordersContainer">
                <!-- Orders will be loaded here -->
            </div>

            <div class="pagination justify-content-center" id="pagination">
                <!-- Pagination links will be loaded here -->
            </div>

            <div class="message-container" id="noHistoryMessage" style="display: none;">
                <div class="d-flex align-items-center">
                    <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                    <p class="mt-2">We apologize, but it seems there is no available history.</p>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    var ordersData = @Html.Raw(Model.OrdersModel != null && Model.OrdersModel.Orders != null ? Json.Serialize(Model.OrdersModel.Orders) : "null");

                    if (ordersData && ordersData.length > 0) {
                        var pageSize = 10;
                        var totalPages = Math.ceil(ordersData.length / pageSize);

                        function renderOrders(pageNumber) {
                            var startIndex = (pageNumber - 1) * pageSize;
                            var endIndex = Math.min(startIndex + pageSize, ordersData.length);
                            var currentPageOrders = ordersData.slice(startIndex, endIndex);

                            $('#ordersContainer').empty(); 

                            currentPageOrders.forEach(function (order) {
                                var formattedDate = new Date(order.issuedDate);
                                var options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' };
                                var formattedDateString = formattedDate.toLocaleDateString('en-US', options);
                                var orderHtml = `
                                            <div class="card p-2 customcard mb-3">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img src="${order.orgPreviewImage}" class="img-fluid companyimage" alt="Supplier Logo" />
                                                    </div>
                                                    <div class="col-8">
                                                        <div>
                                                            <p style="margin: 2px; ">${order.supplierBrandName}</p>
                                                            <small style="color: blue">${order.branchName}</small>
                                                            <p style="margin: 2px; "> ${order.voucherCode}</p>
                                                            <p style="margin: 2px; "> ${formattedDateString}</p>
                                                            <p style="margin: 2px; ">${order.grandTotal} Birr</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`;
                                $('#ordersContainer').append(orderHtml);
                            });
                        }

                        function renderPagination() {
                            $('#pagination').empty();

                            for (var i = 1; i <= totalPages; i++) {
                                var activeClass = (i === 1) ? 'active' : '';
                                var paginationHtml = `<button class="page-link ${activeClass}" data-page="${i}">${i}</button>`;
                                $('#pagination').append(paginationHtml);
                            }
                        }

                        renderOrders(1);
                        renderPagination();

                        $(document).on('click', '.pagination .page-link', function (e) {
                            e.preventDefault();
                            var pageNumber = $(this).data('page');
                            renderOrders(pageNumber);
                            $('.pagination .page-link').removeClass('active');
                            $(this).addClass('active');
                        });
                    } else {
                        $('#noHistoryMessage').show().css({
                            'display': 'flex',
                            'align-items': 'center',
                            'justify-content': 'center',
                            'height': '50vh'
                        });
                    }
                });
            </script>
        </div>
        <div class="tab-pane fade" id="tab2">
            @if (Model?.HistoryModel?.Count() > 0)
            {
                @foreach (var route in Model?.HistoryModel?.Take(10) ?? Enumerable.Empty<HistoryModel>())
                {
                    if (route != null)
                    {
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 mb-2">
                                        <img src="@(route?.ImgUrl ?? "../Assets/bus.png")" class="img-fluid companyimage" alt="Supplier Logo" />
                                    </div>
                                    <div class="col-sm-8">
                                        <h5 class="card-title">@route?.RouteName</h5>
                                        <p class="card-text">Route Description: @route?.RouteDescription</p>
                                        <p class="card-text">Departure Date: @route?.DepartureDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                        <p class="card-text">Distance: @route?.Distance km</p>

                                            <div class="ticket-details">
                                                <table class="table table-bordered mt-3">
                                                    <thead>
                                                        <tr>
                                                            <th>Passenger</th>
                                                            <th>Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                <td>
                                                                    @route?.PassengerFullName 
                                                                </td>
                                                                <td>@route?.SubTotal</td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                                <p class="mt-2">We apologize, but it seems there is no available history.</p>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                        <p class="mt-2">We apologize, but it seems there is no available history.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<partial name="_Footer" />

