@model HulubejeBooking.Models.HistoryWrapper
@using HulubejeBooking.Models.BusModels;
<partial name="_Navigation" />
<head>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>History</title>
    <style>
        .btn:focus {
            outline: none;
            box-shadow: none;
        }
        .wide-tab {
            max-width: 300px;
        }
        .customcard{
            height: 180px;
        }

        .companyimage {
            object-fit: contain;
            max-height: 150px; 
            width: 100%;
        }

        .card {
            transition: box-shadow 0.3s;
        }

            .card:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }

        @@media (max-width: 992px) {
            .companyimage {
                object-fit: contain;
                max-height: 100px; /* Set the maximum height as needed */
            }
        }

        @@media (max-width: 300px) {
            .companyimage {
                object-fit: contain;
                max-height: 80px; /* Set the maximum height as needed */
            }

            .customcard {
                height: 165px;
            }
        }

        #myTabs {
            flex-wrap: nowrap;

        }
            .nav-link.active {
                font-weight: bold;
            }

    </style>
</head>
<div class="container vh-50 mt-3 mb-3">
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active wide-tab" id="tab1-tab" data-toggle="tab" href="#tab1">Booking History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link wide-tab" id="tab2-tab" data-toggle="tab" href="#tab2">Transportaion History</a>
        </li>
    </ul>
    <div class="tab-content mt-4 ">
        <div class="tab-pane fade show active" id="tab1">
            <div class="customContainer" id="ordersContainer">
            </div>

            <div class="pagination justify-content-center" id="pagination">
            </div>

            <div class="message-container" id="noHistoryMessage" style="display: none;">
                <div class="d-flex align-items-center">
                    <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                    <p class="mt-2">We apologize, but it seems there is no available history.</p>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    var ordersData = @Html.Raw(Model.OrdersModel != null && Model.OrdersModel.Data != null ? Json.Serialize(Model.OrdersModel.Data) : "null");

                    if (ordersData && ordersData.length > 0) {
                        var pageSize = 10;
                        var totalPages = Math.ceil(ordersData.length / pageSize);

                        function renderOrders(pageNumber) {
                            var startIndex = (pageNumber - 1) * pageSize;
                            var endIndex = Math.min(startIndex + pageSize, ordersData.length);
                            var currentPageOrders = ordersData.slice(startIndex, endIndex);

                            $('#ordersContainer').empty(); 

                            currentPageOrders.forEach(function (order) {
                                var formattedDate = new Date(order.issuedDate);
                                var options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' };
                                var formattedDateString = formattedDate.toLocaleDateString('en-US', options);
                                var orderHtml = `
                                            <div class="card p-2 customcard mb-3">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img src="${order.logo}" class="img-fluid companyimage" alt="Supplier Logo" />
                                                    </div>
                                                    <div class="col-8 col-md-4">
                                                        <div>
                                                            <p style="margin: 2px; ">${order.companyName}</p>
                                                            <small style="color: blue">${order.branchName}</small>
                                                            <p style="margin: 2px; "> ${order.voucherCode}</p>
                                                            <p style="margin: 2px; "> ${formattedDateString}</p>
                                                            <p style="margin: 2px; ">${order.grandTotal} Birr</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 mb-2 mt-2 d-flex justify-content-center" style="position: absolute; bottom: 0; right: 0;">
                                                        <a type="button" class="mr-2 mr-md-1 btn btn-primary btn-sm px-2"  target="_blank" 
                                                        href="https://www.google.com/maps/search/?api=1&query= ${order.latitude},${order.longitude}">Direction</a>
                                                        <button class="mr-2 mr-md-1 btn btn-primary btn-sm px-2 details-btn" data-companyCode="${order.companyCode}" 
                                                        data-industryType="${order.industryType}" data-voucherCode="${order.voucherCode}" data-issuedDate="${order.issuedDate}" data-vouchercode="${order.companyName}">Details</button>
                                                        <button class="mr-2 mr-md-1 btn btn-primary btn-sm px-2" data-toggle="modal" data-target="#reviewModal" data-company="${order.companyName}" 
                                                        data-article="${order.articles}" data-branchcode="${order.branchCode}">Review</button>
                                                    </div>
                                                </div>
                                            </div>`;
                                $('#ordersContainer').append(orderHtml);
                            });
                        }

                        function renderPagination() {
                            $('#pagination').empty();

                            for (var i = 1; i <= totalPages; i++) {
                                var activeClass = (i === 1) ? 'active' : '';
                                var paginationHtml = `<button class="page-link ${activeClass}" data-page="${i}">${i}</button>`;
                                $('#pagination').append(paginationHtml);
                            }
                        }

                        renderOrders(1);
                        renderPagination();

                        $(document).on('click', '.pagination .page-link', function (e) {
                            e.preventDefault();
                            var pageNumber = $(this).data('page');
                            renderOrders(pageNumber);
                            $('.pagination .page-link').removeClass('active');
                            $(this).addClass('active');
                        });
                    } else {
                        $('#noHistoryMessage').show().css({
                            'display': 'flex',
                            'align-items': 'center',
                            'justify-content': 'center',
                            'height': '50vh'
                        });
                    }
                });
            </script>
        </div>
        <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="starRating">How was it?</label>
                            <div id="starRating">
                                <i class="far fa-star" data-value="1"></i>
                                <i class="far fa-star" data-value="2"></i>
                                <i class="far fa-star" data-value="3"></i>
                                <i class="far fa-star" data-value="4"></i>
                                <i class="far fa-star" data-value="5"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reviewText">Share your detail of experience:</label>
                            <textarea class="form-control" id="reviewText" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-sm submit" data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var companyName;
                var branchCode;
                var article;
                $('#reviewModal').on('show.bs.modal', function (event) {
                    const button = $(event.relatedTarget); // Button that triggered the modal
                    companyName = button.data('company'); // Extract info from data-* attributes
                    article = button.data('article'); // Extract info from data-* attributes
                    branchCode = button.data('branchcode'); // Extract info from data-* attributes

                    const modal = $(this);
                    modal.find('.modal-title').text(companyName); // Set the company name to the modal label

                    const stars = modal.find('#starRating i');
                    stars.removeClass('fas text-warning').addClass('far');
                    modal.find('#reviewText').val(''); // Clear the text area
                });

                // Star rating logic
                $('#reviewModal').on('click', '#starRating i', function () {
                    const stars = $(this).parent().find('i');
                    const rating = stars.index($(this)) + 1; // Calculate the rating based on the clicked star index

                    // Toggle all stars up to the clicked one
                    stars.removeClass('fas text-warning').addClass('far');
                    stars.slice(0, rating).removeClass('far').addClass('fas text-warning');
                });
                $('#reviewModal').on('click', '.submit', function (e) {
                    e.preventDefault();
                    const stars = $('#starRating i.fas');
                    const rating = stars.length;
                    const reviewText = $('#reviewText').val().trim();
                    const companyName = $('#companyNameInput').val();

                    if (rating === 0) {
                        alert('Please select a star rating before submitting.');
                        return;
                    }

                    const data = JSON.stringify({
                        branchCode: branchCode,
                        rating: rating,
                        review: reviewText,
                        article: article
                    });

                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/history/SubmitRating',
                        data: data,
                        cache: false,
                        success: function (response) {
                            if (response.isSuccessful) {
                                alert('Review submitted successfully.');
                            } else {
                                alert(response.errorMessages.join(', '));
                            }
                        },
                        error: function (error) {
                            $('#reviewModal').modal('hide');
                            alert('An error occurred while submitting your review. Please try again.');
                        }
                    });

                    return false;
                });
                // Event listener to reset modal content when modal is hidden
                $('#reviewModal').on('hidden.bs.modal', function () {
                    $('#reviewText').val(''); // Clear review text input
                    $('#starRating i.fas').removeClass('fas text-warning').addClass('far'); // Reset star rating
                });


                $(document).on('click', '.details-btn', function () {
                    // Get data attributes from the button
                    const companyCode = $(this).data('companycode');
                    const industryType = $(this).data('industrytype');
                    const voucherCode = $(this).data('vouchercode');
                    const issuedDate = $(this).data('issueddate');
                    const issuedDate = $(this).data('companyname');

                    // Create a form dynamically
                    var form = $('<form>', {
                        action: '/history/orderdetail',
                        method: 'post'
                    });

                    // Add hidden input fields with the data
                    form.append($('<input>', { type: 'hidden', name: 'CompanyName', value: companyname }));
                    form.append($('<input>', { type: 'hidden', name: 'CompanyCode', value: companyCode }));
                    form.append($('<input>', { type: 'hidden', name: 'IssuedDate', value: issuedDate }));
                    form.append($('<input>', { type: 'hidden', name: 'IndustryType', value: industryType }));
                    form.append($('<input>', { type: 'hidden', name: 'VoucherCode', value: voucherCode }));

                    // Append the form to the body and submit it
                    $('body').append(form);
                    form.submit();
                });
            });
        </script>

        <div class="tab-pane fade" id="tab2">
            @if (Model?.HistoryModel?.Count() > 0)
            {
                @foreach (var route in Model?.HistoryModel?.Take(10) ?? Enumerable.Empty<HistoryModel>())
                {
                    if (route != null)
                    {
                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 mb-2">
                                        <img src="@(route?.ImgUrl ?? "../Assets/bus.png")" class="img-fluid companyimage" alt="Supplier Logo" />
                                    </div>
                                    <div class="col-sm-4 ">
                                        <h5 class="card-title">@route?.RouteName</h5>
                                        <p class="card-text">Route Description: @route?.RouteDescription</p>
                                        <p class="card-text">Departure Date: @route?.DepartureDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                        <p class="card-text">Distance: @route?.Distance km</p>

                                            <div class="ticket-details">
                                                <table class="table table-bordered mt-3">
                                                    <thead>
                                                        <tr>
                                                            <th>Passenger</th>
                                                            <th>Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                <td>
                                                                    @route?.PassengerFullName 
                                                                </td>
                                                                <td>@route?.SubTotal</td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                                <p class="mt-2">We apologize, but it seems there is no available history.</p>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                        <p class="mt-2">We apologize, but it seems there is no available history.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<partial name="_Footer" />

