<partial name="_Navigation" />
<div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 50vh;">
    <div class="d-flex align-items-center">
        <div class="row mt-3">
            <div class="col">
                <form method="post" action="/Otp/VerifyOtp">
                    <div class="input-group">
                        <input type="text" class="form-control" name="otpCode" placeholder="Enter OTP Code">
                        <button class="btn btn-dark">Send Code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<partial name="_Footer" />