<partial name="_Navigation" />
<head>
    <title>Login</title>
    <style>
        #errorAlert {
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000; 
            max-width: 90%;
            margin-bottom: 5px;
            font-size: 15px;
        }

        @@media screen and (max-width: 768px) {
            #errorAlert {
                top: 10px;
            }
        }
        .login-container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 10px 20px 20px 20px; /* top right bottom left */
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 400px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
            color: #495057;
        }

        input[type="tel"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 4px;
            background-color: #fff;
        }

        .form-check-label {
            margin-left: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .forgot-password {
            text-align: center;
            margin-top: 15px;
        }

        .create-account {
            text-align: center;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    
    <div class="container login-container mb-3">
        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-success" role="alert" id="errorAlert">
                <p style="margin: 0;">@TempData["InfoMessage"]</p>
            </div>

            <script>
                setTimeout(function () {
                    document.getElementById('errorAlert').style.display = 'none';
                }, 2000);
            </script>
        }
        <div class="mb-3 text-center">
            <h5 class="h5">Sign In</h5>
        </div>
        <section>
            <div id="signInForm">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input name="Phone" type="tel" class="form-control" id="phone" placeholder="Phone Number" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="Password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="RememberMe">
                    <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>
                <button class="btn btn-primary submit">Sign In</button>
            </div>
            <div class="forgot-password">
                <a href="/forgotpassword">Forgot Password?</a>
            </div>
            <div class="create-account">
                <span>Don't have an account? <a href="/signup">Create New Account</a></span>
            </div>
        </section>
    </div>
<script>
    $(document).ready(function () {
        $('.submit').on('click', function () {
            var data = {
                Password: $('#password').val(),
                Phone: $('#phone').val(),
                RememberMe: $('#rememberMe').is(':checked')
            };
            $.ajax({
                url: '/SignIn/AuthenticateUser',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    var userInformation = response.userInformation;
                    if (userInformation === 'OK') {
                        window.location.href = "/Home/Index";
                    }
                    else if (userInformation === 'error') {
                            showBootstrapAlert('Incorrect password. Please try again.', 'alert-danger');
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
        function showBootstrapAlert(message, alertClass) {
            // Remove any existing alerts
            $('.bootstrap-alert').remove();

            // Create and append the alert element
            var alert = $('<div class="alert ' + alertClass + ' bootstrap-alert" role="alert">' + message + '</div>');
            $('.create-account').before(alert);

            // Automatically close the alert after 5 seconds (5000 milliseconds)
            setTimeout(function () {
                alert.remove();
            }, 1000);
        }
    });

</script>

</body>
<partial name="_Footer" />