<partial name="_Navigation" />
@model HulubejeBooking.Models.Authentication.LoginInformation
<head>
    <title>Login</title>
    <style>
        #errorAlert {
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000; 
            max-width: 90%;
            margin-bottom: 5px;
            font-size: 15px;
        }

        @@media screen and (max-width: 768px) {
            #errorAlert {
                top: 10px;
            }
        }
        .login-container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 10px 20px 20px 20px; /* top right bottom left */
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 400px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            font-weight: bold;
            color: #495057;
        }

        input[type="tel"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 4px;
            background-color: #fff;
        }

        .form-check-label {
            margin-left: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .forgot-password {
            text-align: center;
            margin-top: 15px;
        }

        .create-account {
            text-align: center;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    
    <div class="container login-container mt-5 mb-5">
        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-success" role="alert" id="errorAlert">
                <p style="margin: 0;">@TempData["InfoMessage"]</p>
            </div>

            <script>
                setTimeout(function () {
                    document.getElementById('errorAlert').style.display = 'none';
                }, 2000);
            </script>
        }
        <div class="mb-3 text-center">
            <h5 class="h5">Sign In</h5>
        </div>
        <section>
            <div id="signInForm">
                <form asp-action="Index" asp-controller="SignIn" method="post" autocomplete="off">
                    @{
                        var firstError = ViewData.ModelState?.FirstOrDefault(m => m.Value.Errors.Any());
                        var errorMessage = firstError?.Value?.Errors?.FirstOrDefault()?.ErrorMessage ?? string.Empty;
                    }

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>

                        <script>
                            setTimeout(function () {
                                document.querySelector('.alert').style.display = 'none';
                            }, 2000);
                        </script>
                    }
                    <div class="form-group has-feedback">
                        <input asp-for="Phone" id="phone" autofocus="autofocus" class="form-control" autocomplete="off" placeholder="Phone Number">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <span asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input asp-for="Password" class="form-control" placeholder="Password" autocomplete="off" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="checkbox icheck">
                        <input id="rememberMe" asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn submit btn-primary btn-block btn-flat">Login</button>
                    </div>
                </form>
            </div>
            <div class="forgot-password">
                <a href="/forgotpassword">Forgot Password?</a>
            </div>
            <div class="create-account">
                <span>Don't have an account? <a href="/signup">Create New Account</a></span>
            </div>

        </section>
    </div>
<script>
    $(document).ready(function () {
        $('.submit').on('click', function () {
            var data = {
                Password: $('#password').val(),
                Phone: $('#phone').val(),
                RememberMe: $('#rememberMe').is(':checked')
            };
            if (data.RememberMe) {
                    localStorage.setItem("phone", data.Phone);
            }
            else{
                    sessionStorage.setItem("phone", data.Phone);
            }
        });
        
    });

</script>
    

</body>
<partial name="_Footer" />