@model HulubejeBooking.Models.HotelModels.HotelListRequest
<partial name="_Navigation" />
<head>
    <title>Hotel Home</title>
    <style>
        /*     @@import "bourbon";
         */
        * {
            box-sizing: border-box;
        }

        .login-form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 0;
            outline: 0;
            background: #f1f1f1;
            font-weight: 300;
            font-style: italic;
            border-radius: 2px;
        }

        .login-wrapper {
            width: 100%;
        }

        button {
            padding: 8px 15px;
            border: 0;
            outline: 0;
            color: #fff;
            background: #063970;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            box-shadow: 0 4px 0 darken(#063970, 5%);
        }

            button:active {
                margin-top: 2px;
                box-shadow: 0 2px 0 darken(#063970, 5%);
            }

        .login-container {
            position: relative;
            z-index: 1;
        }

        .login-form {
            width: 100%;
            display: none;
            position: absolute;
            padding: 20px;
            margin-top: 10px;
            background: #ddd;
            border-radius: 4px;
            box-shadow: 0 4px 0 darken(#ddd, 5%);
        }

            .login-form input:last-child {
                margin-bottom: 0;
            }

        input[type="submit"] {
            color: #fff;
            background: gray;
            font-style: normal;
            box-shadow: 0 4px 0 darken(gray, 5%);
        }

        .login-form .dropdown-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .login-form .dropdown-content button {
                margin: 0;
            }

            .login-form .dropdown-content span {
                margin: 0 10px;
            }

        @@keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .open {
            animation: slide 1s;
            display: block;
        }
    </style>
</head>

<div class="row" style="background-color:#063970;">
    <div class="container">
        <header class="container-fluid" style="padding-top: 2%" >
            <div>
                <h1 style="color: white;">Find your next stay</h1>
                <h4 style="color: white;">Search deals on hotels, homes, and much more...</h4>
            </div>
        </header>
    </div>
    <div class="container mt-5">

        <div class="d-flex">

            <div class="select" style="width:100%;">
                <select class="form-select form form-control" id="city" data-tags="true" data-placeholder="Select an option" data-allow-clear="true" style="width:100%; height:60px; border-color:#FEBB02;">
                    <option>Choose a city </option>
                    @if (Model.CityNameList != null)
                    {
                        @foreach (var city in Model.CityNameList)
                        {
                            <option value="@city?.CityName">@city?.CityName?.ToUpper()</option>
                        }
                    }
                </select>
            </div>


            <div style="width:50%">
                <input class="form-control" type="text" id="date-range-picker" placeholder="Checkin-Checkout" style="border-color:#FEBB02; height:60px;">
            </div>

            <div class="login-wrapper">
                <input class="login-wrapper form-control" id="login-button" value="Submit" style="border-color:#FEBB02; height:60px;">
                <div class="login-container">
                    <form class="login-form container" id="searchForm">
                        <div class="form-group">
                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="adultCount">Adults:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('adult', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="adultCount">1</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('adult', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="childrenCount">Children:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('children', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="childrenCount">0</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('children', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col container">
                                    <label for="roomsCount">Rooms:</label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('rooms', 'decrement')">-</button>
                                        <span class="input-group-text w-50 d-flex justify-content-center align-items-center" id="roomsCount">1</span>
                                        <button type="button" class="btn btn-outline-secondary" onclick="changeValue('rooms', 'increment')">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="submitForm()">Done</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <button class="btn btn-outline-primary" type="button" style=" color: white; height:60px;" id="searchButton"> <span>Search</span> </button>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault"> I'm traveling for work </label>
    </div>

    @{
        var random = new Random();
        var shuffledHotels = Model?.filteredCompany?.OrderBy(x => random.Next()).Take(20).ToList();
    }

    <div class="row mt-3">
        @if (shuffledHotels != null)
        {
            @foreach (var hotel in shuffledHotels)
            {

                <!-- Add an "id" attribute to uniquely identify each card -->
                <div class="card clickable-card" style="max-width: 540px;" data-bs-toggle="modal" data-bs-target="#hotelModal">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@hotel?.attachments[0]" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@hotel?.brandName</h5>
                                <p class="card-text">@* The detail information will be posted here. *@ @hotel?.oud and @hotel?.TIN</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                            <button class="btn cardB btn-primary btn-sm" id="cardB"
                            data-oud="@hotel?.oud"
                            data-org-tin="@hotel?.TIN"
                            data-hotel-name="@hotel?.brandName"
                            data-branch-name="@hotel?.branchName"
                            data-city="">check this hotel
                            </button>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script>

    jQuery(document).ready(function ($) {
        $("#form").select2({
            tags: true,
            placeholder: "Select an option",
            allowClear: true,
        });

        var datepicker = $('#date-range-picker');
        datepicker.daterangepicker({
            opens: 'left',
            autoApply: true,
            locale: {
                format: 'MM/DD/YYYY',
            },
            startDate: moment().startOf('day'),
            endDate: moment().startOf('day').add(1, 'days'),
        });

        datepicker.on('apply.daterangepicker', function (ev, picker) {
            if (picker.startDate && picker.endDate) {
                datepicker.attr('placeholder', "Checkin" + ' - ' + "Checkout");
            } else {
                datepicker.attr('placeholder', 'Checkin-Checkout');
            }
        });

        $('#login-button').click(function (e) {
            e.stopPropagation();
            $('.login-form').toggleClass('open');
        });

        $(document).click(function () {
            $('.login-form').removeClass('open');
        });

        $('.login-container').click(function (e) {
            e.stopPropagation();
        });
    });


    function changeValue(category, action) {
        var countElement = $('#' + category + 'Count');
        var currentCount = parseInt(countElement.text());
        if (action === 'increment') {
            countElement.text(currentCount + 1);
        } else if (action === 'decrement' && currentCount > 1) {
            countElement.text(currentCount - 1);
        }
        updateLoginButtonValue();
    }
    function updateLoginButtonValue() {
        var adultCount = parseInt($('#adultCount').text());
        var childrenCount = parseInt($('#childrenCount').text());
        var roomsCount = parseInt($('#roomsCount').text());

        var defaultValue = 'Adults: ' + adultCount + ', Children: ' + childrenCount + ', Rooms: ' + roomsCount;
        $('#login-button').val(defaultValue).attr('placeholder', defaultValue);
    }
    function hideForm() {
        $('.login-container').removeClass('.login-form');
    }

    function submitForm() {
        var adultCount = parseInt($('#adultCount').text());
        var childrenCount = parseInt($('#childrenCount').text());
        var roomsCount = parseInt($('#roomsCount').text());

        updateLoginButtonValue();
        hideForm();

    }
    updateLoginButtonValue();


    function getFormData() {
        var selectedDestination = $('.form-select').val();
        var dateRange = $('#date-range-picker').attr('placeholder');
        var adultCount = parseInt($('#adultCount').text());
        var childrenCount = parseInt($('#childrenCount').text());
        var roomsCount = parseInt($('#roomsCount').text());

        return {
            destination: selectedDestination,
            dateRange: dateRange,
            adults: adultCount,
            children: childrenCount,
            rooms: roomsCount
        };
    }

    function storeFormData() {
        var formData = getFormData();
        localStorage.setItem('formData', JSON.stringify(formData));
    }

    function retrieveFormData() {
        var storedFormData = localStorage.getItem('formData');
        return storedFormData ? JSON.parse(storedFormData) : null;
    }

    $(document).ready(function () {
        var storedData = retrieveFormData();
        if (storedData) {
            $('.form-select').val(storedData.destination);
            $('#date-range-picker').attr('placeholder', storedData.dateRange);
            $('#adultCount').text(storedData.adults);
            $('#childrenCount').text(storedData.children);
            $('#roomsCount').text(storedData.rooms);
        }
    });

    $(document).ready(function () {
        $('#searchButton').click(function () {

            var form = $('#searchForm');
            form.submit();
        });
    });

    $(document).ready(function () {
        $('#searchButton').on('click', function () {
            var city = $('#city').val();
            var dateRange = $('#date-range-picker').val();
            var adultCount = parseInt($('#adultCount').text(), 10);
            var childrenCount = parseInt($('#childrenCount').text(), 10);
            var roomsCount = parseInt($('#roomsCount').text(), 10);



            var dateParts = dateRange.split(' - ');

            var arrivalDate = new Date(Date.parse(dateParts[0]));
            var departureDate = new Date(Date.parse(dateParts[1]));




            function calculateNumberOfNights(arrivalDate, departureDate) {
                var timeDifference = departureDate.getTime() - arrivalDate.getTime();
                var numberOfNights = Math.round(timeDifference / (1000 * 3600 * 24));
                return numberOfNights;
            }

            var numberOfNights = calculateNumberOfNights(arrivalDate, departureDate);

            sessionStorage.setItem('city', city);
            sessionStorage.setItem('dateRange', dateRange);
            sessionStorage.setItem('adultCount', adultCount);
            sessionStorage.setItem('childrenCount', childrenCount);
            sessionStorage.setItem('roomsCount', roomsCount);
            sessionStorage.setItem('numberOfNights', numberOfNights);



            var formData = {
                city: city,
                dateRange: dateRange,
                adultCount: adultCount,
                childrenCount: childrenCount,
                roomsCount: roomsCount,
                numberOfNights: numberOfNights
            };
            var form = $('<form action="/HotelHome/HotelList" method="post"></form>');

            form.append('<input type="hidden" name="city" value="' + city + '" />');
            form.append('<input type="hidden" name="dateRange" value="' + dateRange + '" />');
            form.append('<input type="hidden" name="adultCount" value="' + adultCount + '" />');
            form.append('<input type="hidden" name="childrenCount" value="' + childrenCount + '" />');
            form.append('<input type="hidden" name="roomsCount" value="' + roomsCount + '" />');
            form.append('<input type="hidden" name="numberOfNights" value="' + numberOfNights + '" />');
            
            $('body').append(form);

            form.submit();
        });

    });

    $(document).ready(function () {
        $('.cardB').on('click', function () {
            sessionStorage.setItem("oud", $(this).data('oud'));
            sessionStorage.setItem('orgTin', $(this).data('orgTin'));
            sessionStorage.setItem("branchName", $(this).data('hotel-name'));
            sessionStorage.setItem("hotelName", $(this).data('branch-name'));



            var data = 
            {
                oud: $(this).data('oud'),
                orgTin: $(this).data('orgTin')
            }; 

            $.ajax({
                url: '/HotelHome/Hoteldetail',
                 type: 'POST',
                 contentType: 'application/json',
                 data: JSON.stringify(data),
                 success: function () {
                    console.log('the data has been sent successfully');
                    window.location.href = "/HotelHome/HoteldetailView";
                 },
                 error: function (error) {
                     console.error('Error:', error);
                 }
             });
        });

    });
</script>


<partial name="_Footer" />