@model HulubejeBooking.Models.PaymentModels.PaymentValidation
<partial name="_Navigation" />
@if(Model != null)
{
    @if (Model.isSuccessful ?? false)
    {
        <p>booking successful</p>
    }
    else
    {
        <p>booking unseccessful</p>
    }

}
else
{
    <p>Couldn't process your payment!</p>
}
<partial name="_Footer" />