@using HulubejeBooking.Models.EventModels
@model HulubejeResponse<List<EventResponse>>
@{
    var isVaild = ViewBag.isVaild;
    var isLoggedIN = ViewBag.isLoggedIn;
}
<style>
    .card {
        transition: box-shadow 1s ease-in-out;
    }

        .card:hover {
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .card-img-top {
        width: 100%; /* Make the image fill the width of its container */
        height: 150px; /* Adjust the height to your preference */
        object-fit: fill; /* Ensure the image maintains its aspect ratio and covers the area */
        border-radius: 3px;
    }
</style>
<script>
    sessionStorage.setItem("isValid", @Json.Serialize(@isVaild));
    sessionStorage.setItem("isLoggedIn", @Json.Serialize(@isLoggedIN));
</script>
<title>Events</title>
<partial name="_Navigation" />
<div class="bg-light">
    @if (Model.Data != null)
    {
        <div class="container py-3" style="min-height: 70vh">
            <div class="row">
                @for (int i = 0; i < 3; i++)
                {
                    foreach (var events in Model?.Data ?? new List<EventResponse>())
                    {
                        <div class="col-lg-6 mb-3">
                            <div class="card p-1 eventsCard" data-code="@events?.Code" data-article-code="@events?.EventArticles?.Code"
                            data-name="@events?.EventArticles?.Name" data-organizer ="@events?.Organizer">
                                <div class="row">
                                    <div class="col-sm-4 pt-sm-2">
                                        <div>
                                            <img src="@events?.DefaultImageUrl" class="img-fluid rounded-start" alt="...">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 py-2 pl-4">
                                        <h5 class="card-title operatorName">@events?.Name</h5>
                                        <p class="startDate mb-1">
                                            <span><i class="bi bi-calendar-date mr-1"></i></span>
                                            Start Date: @events?.StartDate?.ToString("ddd, MMM d, yyyy")
                                        </p>
                                        <p class="endDate mb-1">
                                            <span><i class="bi bi-calendar-date mr-1"></i></span>
                                            End Date: @events?.EndDate?.ToString("ddd, MMM d, yyyy")
                                        </p>
                                        <p class="scheduleTime mb-1"><span><i class="fas fa-stopwatch mr-2"></i></span>Door open at: @events?.DoorOpen?.ToString("hh:mm tt")</p>
                                        <p class="scheduleTime mb-1"><span><i class="fas fa-stopwatch mr-2"></i></span>Ticket closed at: @events?.TicketClosingDate?.ToString("hh:mm tt")</p>
                                        @if (events?.EveryDayEvent == true)
                                        {
                                            <p class="mb-1">
                                                <span><i class="fas fa-route mr-1"></i></span>
                                                Duration: 365 days
                                            </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
    else
    {
        <div class="message-container" style=" display: flex; align-items: center; justify-content: center; height: 75vh;">
            <div class="d-flex align-items-center">
                <i class="bi bi-exclamation-circle mr-2" style="font-size: 60px; color: red;"></i>
                <p class="mt-2">We apologize, but it seems there is no available events at the moment.</p>
            </div>
        </div>
    }
</div>
<script>
    $('.eventsCard').on('click', function(){
        var code = $(this).data('code');
        var eventArticleCode = $(this).data('article-code');
        var name = $(this).data('name');
        var organizer = $(this).data('organizer');
        var form = $('<form action="/eventslist" method="get">' +
        '<input type="hidden" name="code" value="' + code + '" />' +
        '<input type="hidden" name="name" value="' + name + '" />' +
        '<input type="hidden" name="articleCode" value="' + eventArticleCode + '" />' +
        '<input type="hidden" name="organizer" value="' + organizer + '" />' +
        '</form>');
        $('body').append(form);
        form.submit();
    });
</script>
<partial name="_Footer" />